{{ define "main" }}
<div id="page">
  <h1 id="page-title">{{ with .Title }}{{ . }}{{ else }}株主総会議事録{{ end }}</h1>

<div id="spec">
  <p><span class="title">発行済株式総数</span>
  <span>{{ .Params.share.total }}株</span>
  </p>
  <p><span class="title">議決権を有する株主の総数</span>
  <span>{{ .Params.share.memberstotal }}名</span>
  </p>
  <p><span class="title">議決権総数</span>
  <span>{{ .Params.share.rightstotal }}個</span>
  </p>
  <p><span class="title">出席株主の数（委任状出席を含む）</span>
  <span>{{ .Params.share.members }}名</span>
  </p>
  <p><span class="title">出席株主の議決権数</span>
  <span>{{ .Params.share.rights }}個</span>
  </p>
  <p><span class="title">出席役員</span></p>
  {{ range .Params.repdirectors }}
  <p><span class="title right">代表取締役　</span><span>{{ . }}</span></p>
  {{ end }}
  {{ range .Params.directors }}
  <p><span class="title right">取締役　</span><span>{{ . }}</span></p>
  {{ end }}
  <p><span class="title">議事録作成者　</span><span>{{ with .Params.author }}{{ . }}{{ else }}{{ .Params.chairman }}{{ end }}</span></p>
</div>

  <p class="spacer"></p>
  <p>上記のとおり出席があったので、本総会は適法に成立した。<br>
  定刻、代表取締役{{ .Params.chairman }}は定款の規定により議長となり開会を宣し直ちに議事に入った。</p>
  <p class="spacer"></p>

  {{ .Content }}

<p class="spacer"></p>
<p> 　以上をもって本総会の議案全部を終了したので、議長は閉会の挨拶を述べ、{{ with .Params.end.hour }}{{ . }}{{ else }}10{{ end }}時{{ with .Params.end.minute }}{{ . }}{{ else }}30{{ end }}分散会した。上記の決議を明確にするため、この議事録を作成する。</p>
<p class="spacer"></p>

<div id="footer">
	<p>{{ .Date.Year }}年{{ .Date.Month | int }}月{{ .Date.Day }}日</p>
  <p>{{ .Params.company }}</p>
  {{ range .Params.repdirectors }}
    <pre class="signature">
    代表取締役　{{ . }}
    </pre>
  {{ end }}
  {{ range .Params.directors }}
    <pre class="signature">
    取締役　{{ . }}
    </pre>
  {{ end }}
</div>
</div>

{{ range $k, $v := .Resources.Match "*.pdf" }}
<div id="attachment"><a href="{{ $v.RelPermalink }}">添付資料{{ math.Add $k 1 }}</a> {{ $v.Name }}</div>
{{ end }}

{{ end }}
